<!doctype html>
<html lang="en">

<head>
  <title>To do list</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@500&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="style.css">

</head>

<body>

        <div class="container" id="todoApp">

          <!-- Nav tabs -->
          <div class="row justify-content-center pt-1">
            <ul class="nav" id="navId">
              <li class="nav-item mx-5">
                <a href="#" class="nav-link day">Day</a>
              </li>
      
              <li class="nav-item mx-5">
                <a href="#" class="nav-link disabled">Week</a>
              </li>
              <li class="nav-item mx-5">
                <a href="#" class="nav-link disabled">Month</a>
              </li>
              <li class="nav-item mx-5">
                <a href="#" class="nav-link disabled">Year</a>
              </li>
            </ul>
          </div>
      
      
          <!-- DAY TEXTS  -->
      
          <div class="row justify-content-center p-5">
            <i class="fa fa-arrow-left mx-5" aria-hidden="true"></i>
            <div class="dayTexts">
              <h2>Thursday</h2>
              <h6 class="mx-2">April 16, 2022</h6>
            </div>
            <i class="fa fa-arrow-right mx-5" aria-hidden="true"></i>
          </div>
          <!-- DAY TEXTS  -->
          <div id="todoApp">
            <div class="row justify-content-center p-5">
              <!-- PLACEHOLDER -->
              <form action="">
                <div class="input-group">
                  <div class="input-group-prepend inputOne">
                    <span class="input-group-text inputOne"><i class="fa fa-align-justify" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Add a task..." v-model="tasks.name" @keyup.enter="newItem" aria-label="Username"
                    aria-describedby="basic-addon1">
                  <input type="submit" value="Add" class="submit-task" title="Add Task" @click="newItem">
                </div>
              </form>
              <!-- PLACEHOLDER -->
            </div>
          </div>
      
          
      
          <div   v-for="task in tasks"  class="row justify-content-center">
            <ul class="taskList d-flex justify-content-between" >
              <li class="task-list-item">
                <label class="task-list-item-label">
                  <input type="checkbox">
                  <span class="mx-2 text-white"> {{task.name}} </span>
                </label>
                <span class="more delete-btn" title="delete task"></span>
              </li>
              <div class="dropdown">
                <div class="dropdown-toggle"id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-ellipsis-h text-center" aria-hidden="true"></i>
              </div>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                  <a class="dropdown-item" href="#" title="Pin on to the top"><i class="fa fa-map-pin" aria-hidden="true"></i>Pin on to the top</a>
                  <a class="dropdown-item" href="#" title="Add a Memo"><i class="fa fa-file" aria-hidden="true"></i>Add a Memo</a>
                  <a class="dropdown-item" href="#" title="Delete Task" @click="delItem(task)">Delete task {{task.del}} </a>
                </div>
              </div>
            </ul>
          </div>
        </div>
      
        
      
]

  <!-- Optional JavaScript -->

  <script src="https://unpkg.com/vue@3"></script>
  <script src="/index.js"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>