*{
    box-sizing: border-box;
}
:root{
    --checkbox-color: rgb(54, 54, 54) !important;
    --add-button:palevioletred;
}
.container{
    background-color: grey;
    /* width: 700px; */
}
.nav{
    border-bottom: 1px solid slategrey !important;

}
.day{
    color: gainsboro;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid palevioletred !important;
} 
.disabled{
    color: gainsboro !important;
}
i{
    align-self: center;
}
img{
    width: 20px;
    height: 20px;
}
.form-control{ 
    border: none;
    background-color: rgb(54, 54, 54) !important;

}
.input-group-text{
    border: none;
    background-color: rgb(54, 54, 54) !important;
    position: relative;
    left: 0.5rem;
}
.inputOne{
    background-color: none !important;
    border: none !important;
}
.input-group{
    width: 700px;
}
.todoContent{
    width: 600px;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
    display: flex;
}
.submit-task{
    width: 32px;
    height:32px;
    flex-shrink: 0;
    border: none;
    background: var(--add-button);
    color: gainsboro;
    cursor: pointer;
}
.taskList{
    width: 700px;
    background-color: transparent;
}
.task-list-item{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    right: 30px !important;
}
.task-list-item input{
    width: 16px;
    height: 16px;
    border: 1px solid #272727;
    border-radius: 50%;
    transition: 0.2s;
}
.task-list-item input:hover{
    border-color:var(--checkbox-color) ;
}
.task-list-item input:checked{
    background-size: 10px;
    border: 1px solid var(--checkbox-color);
    background-color: var(--checkbox-color);
}
.task-list-item input:checked + span {
    color: #272727;
    text-decoration: line-through #272727;
}


